body{
  background: black;
  background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2016/11/12/1043618/e52be13fafc8965e37892c6d8811e8c3-700.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
}

h1{
  width: 300px;
  border: 5px solid white;
  padding: 30px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-size: 60px;
  background-color: black;
}


.title{
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 80px;
  width:500px;
  padding: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid white;
  border-radius: 5px;
  text-align: center;
  background-color: black;
}

.title2{
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 40px;
  width: 100px;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid white;
  border-radius: 5px;
  text-align: center;
  background-color: black;
}

.projStatement{
  display: block;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-align: center;
  padding-top: 50px;
}

.images{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

p{
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 40px;
  width: width;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid white;
  border-radius: 5px;
  text-align: center;
  background-color: black;
}

}
